h1 {color:grey;}
h2 {color:green;}
h3 {color:green;}
#violet {color:maroon; text-align: center;}
title {color:black;text-decoration: blink;text-shadow: currentColor;}
table {animation-direction: alternate-reverse;}
body {background: url(https://wallpapertag.com/wallpaper/full/1/6/4/354193-ombre-background-1242x2208-hd-1080p.jpg)}
.darkblue {color:darkblue}